[submodule "src/external/Indirect_Predicates"]
	path = src/external/Indirect_Predicates
	url = https://github.com/MarcoAttene/Indirect_Predicates.git

[submodule "src/external/pycvxset"]
	path = src/external/pycvxset
	url = https://github.com/merlresearch/pycvxset.git
